body{
  background-color: #1D2D3C
}

*{
  margin: auto;
   box-sizing: border-box;


}


.global{
  width: 400px;
  height: 100vh;
  background-color: white;
  position: relative;


}

.container{
  width: 100%;
  height: 33%;
  position: absolute;
  margin:auto;


}

.container.uno{
  background: url(../img/roma.jpg);
  


}

.container.due{
  bottom:33%;
  background: url(../img/copenaghen.jpg);

}

.container.tre{
 background: url(../img/tokyo.jpg);
  bottom:0;
}

span{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-size: 40px;
font-weight: bold italic;
}
