body{
  background-color: #1D2D3C
}

*{
margin: auto;
box-sizing: border-box;
}

/* contenitore globale */
.global{
  width: 400px;
  height: 100vh;
  background-color: white;
  position: relative;
}
/* |contenitore globale */

/* regole generali container */
.container{
  width: 96%;
  height: 32%;
  position:relative;

}
/* |regole generali container */

/* sezione immagini */
.container.uno{
  background: url(../../img/roma.jpg);
  margin-bottom: 18px;
}

.container.due{
  background: url(../../img/copenaghen.jpg);
  margin-bottom: 18px;
}

.container.tre{
 background: url(../../img/tokyo.jpg);


}
/* |sezione immagini */
span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 40px;
  font-weight: bold ;
  font-style: italic;
  text-shadow: -3px -2px 2px black ;
}

.layover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.3);
}





/* VERSIONE LUNGA


body{
  background-color: #1D2D3C
}

*{
  margin:auto;
}


.global{
  width: 400px;
  height: 100vh;
  background-color: white;
  position: relative;
}



.container{
  width: 90%;
  height: 32%;
  position: absolute;
  margin:0px;

}

.container.uno{
  background: url(../img/roma.jpg);
  top: 1%;
  left: 50%;
  transform: translate(-50%, 0%);

}

.container.due{
  background: url(../img/copenaghen.jpg);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.tre{
 background: url(../img/tokyo.jpg);
 bottom: 1%;
 left: 50%;
 transform: translate(-50%, 0%);
}



span{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color:white;
font-size: 40px;
font-weight: bold italic;
}
*/
