body{
  background: #1D2D3C;
}

@font-face {
  font-family: "alexbrush";
  src: url(../font/alexbrush.ttf) format("truetype");
  /*font-family: "kaushan";
  src:url(../font/kaushan.otf) format("truetype");*/

}

*{
  font-family:"alexbrush"
}



div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1D2D3C;
  width:90vw;
  height: 90vh;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

img{
  width: 100%;
  height: 100%;
}

div.central{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1D2D3C;
  width: 30%;
  height: 30%;

}

span{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 40px;
color: white;
}

span.central{
  font-size: 60px;
}


div.topleft{
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  width: 20%;
  height: 20%;
}





div.topright{
  top: 0%;
  right: 0%;
  transform: translate(150%, -0%);
  background: white;
  width: 20%;
  height: 20%;


}

div.topcentral{
  top: 0%;
  right: 100%;
  transform: translate(-50%, -0%);
  background: white;
  width: 20%;
  height: 20%;


}

div.bottomleft{
  bottom: 0%;
  left: 0%;
  transform: translate(-0%, 150%);
  background: white;
  width: 20%;
  height: 20%;


}

div.bottomright{
  bottom: 0%;
  right: 0%;
  transform: translate(150%, 150%);
  background: white;
  width: 20%;
  height: 20%;


}

div.bottomcentral{
  bottom: 0%;
  right: 100%;
  transform: translate(-50%, 150%);
  background: white;
  width: 20%;
  height: 20%;


}

div.centerleft{
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
  background: yellow;
  width: 20%;
  height: 20%;


}

div.centerright{
  top: 50%;
  right: 0%;
  transform: translate(150%, -50%);
  background: brown;
  width: 20%;
  height: 20%;


}
