body{
  background: red;


}

div{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: green;
  width:90vw;
  height: 90vh;
 position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

div.central{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30%;
  height: 30%;
  z-index: 1;
}

div.topleft{
  top: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.topright{
  top: 0%;
  right: 0%;
  transform: translate(150%, -0%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.topcentral{
  top: 0%;
  right: 100%;
  transform: translate(-50%, -0%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.bottomleft{
  bottom: 0%;
  left: 0%;
  transform: translate(-0%, 150%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.bottomright{
  bottom: 0%;
  right: 0%;
  transform: translate(150%, 150%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.bottomcentral{
  bottom: 0%;
  right: 100%;
  transform: translate(-50%, 150%);
  background: white;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.centerleft{
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
  background: yellow;
  width: 20%;
  height: 20%;
  z-index: 1;

}

div.centerright{
  top: 50%;
  right: 0%;
  transform: translate(150%, -50%);
  background: brown;
  width: 20%;
  height: 20%;
  z-index: 1;

}
