/* Regole generali */
body{
  background: #1D2D3C;
}

@font-face {
  font-family: "alexbrush";
  src: url(../font/alexbrush.ttf) format("truetype");
  /*font-family: "kaushan";
  src:url(../font/kaushan.otf) format("truetype");*/
}

*{
  font-family:"alexbrush";
  text-shadow: -3px -2px 2px black ;
}

div{
  background: #1D2D3C;;
  width:90vw;
  height: 90vh;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img{
  width: 100%;
  height: 100%;
}
/* |Fine regole generali */

/* Contenitore centrale */
div.central{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1D2D3C;
  width: 30%;
  height: 30%;
}
/* |Contenitore centrale */

/* Contenitori città */

div.topleft, div.topright, div.topcentral, div.bottomleft, div.bottomright, div.bottomcentral, div.centerleft, div.centerright, div.centerleft ,div.centerright{
  width: 21%;
  height: 21%;
}

div.topleft{
  top: 0;
  left: 0;
  transform: translate(-0%, -0%);
}

div.topright{
  top: 0%;
  right: 0%;
  transform: translate(150%, -0%);
}

div.topcentral{
  top: 0%;
  right: 100%;
  transform: translate(-50%, -0%);
}

div.bottomleft{
  bottom: 0%;
  left: 0%;
  transform: translate(-0%, 150%);
}

div.bottomright{
  bottom: 0%;
  right: 0%;
  transform: translate(150%, 150%);
}

div.bottomcentral{
  bottom: 0%;
  right: 100%;
  transform: translate(-50%, 150%);

}

div.centerleft{
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
}

div.centerright{
  top: 50%;
  right: 0%;
  transform: translate(150%, -50%);
}
/* |Contenitori città */

/* Nomi città */
span{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 40px;
color: white;
z-index: 1;
}

span.central{
  font-size: 70px;
}
/* |Nomi città */

/* Sezione Layover*/
section.layover{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
}
/* |Sezione Layover*/

/* Effetti */
.hover:hover section{
  display: none;
}

.hover:hover img{
  position: absolute;
  bottom: 5px;
}

.zoom:hover span{
  font-size: 47px;
  transition: 0.3s;
}
/* |Effetti */
